<div ng-app="app">
<%= 10 * 10 %>
  {{ 1 + 1 }}
</div>
<h1>Northbrook Krias Hatorah Schedule</h1>
<div class="Beraishit">
  <!-- <div class="center"> -->
    <h3>Beraishit</h3>
    <button type="button" class="btn btn-default">Beraishit</button>
    <br>
    <br>
    <button type="button" class="btn btn-default">Noach</button>
    <br>
    <br>
    <button type="button" class="btn btn-default">Lech-Licha</button>
    <br>
    <br>
    <button type="button" class="btn btn-default">Va'Yairah</button>
    <br>
    <br>
    <button type="button" class="btn btn-default">Chaya Sarah</button>
    <br>
    <br>
    <button type="button" class="btn btn-default">Toldos</button>
    <br>
    <br>
    <button type="button" class="btn btn-default">Vayaitzai</button>
    <br>
    <br>
    <button type="button" class="btn btn-default">Vayishlach</button>
    <br>
    <br>
    <button type="button" class="btn btn-default">Vayaishev</button>
    <br>
    <br>
    <button type="button" class="btn btn-default">Meekaitz</button>
    <br>
    <br>
    <button type="button" class="btn btn-default">Vayeegash</button>
    <br>
    <br>
    <button type="button" class="btn btn-default">Vayichee</button>
  <!-- </div> -->
</div>
<div class="Shemos">
  <h3>Shemos</h3>
  <button type="button" class="btn btn-default">Shemos</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">V'Airah</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Bo</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">B'shalach</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Yisro</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Mishpatim</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Trumah</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">T'tzaveh</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Ki Sisah</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">V'yakhel</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">P'kudai</button>
</div>
<div class="Vayikrah">
  <h3>Vayikrah</h3>
  <button type="button" class="btn btn-default">Vayikrah</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Tzav</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Shmini</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Tazriah</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Mitzorah</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Achrai mos</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Kidoshim</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Emor</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">B'har</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">B'chukosai</button>
</div>
<div class="Bamidbar">
  <h3>Bamidbar</h3>
  <button type="button" class="btn btn-default">Bamidbar</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Nosoh</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Ba'haloschu</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Shlach</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Korach</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Chukas</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Baluck</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Pinchos</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Matos</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Mosai</button>
</div>
<div class="Devorim">
  <h3>Devorim</h3>
  <button type="button" class="btn btn-default">Devorim</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">V'eschanun</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Eikev</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">R'ei</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Shoftim</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Ki Seitzai</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Ki Sovoh</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">Nitzavim</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">V'yailech</button>
  <br>
  <br>
  <button type="button" class="btn btn-default">H'azinu</button>
  <br>
  <br>
</div>