<div ng-app="app">
  <div ng-controller="rotationsCtrl" ng-init="getInfo()">


    <div ng-switch on="parshious">

      <div ng-switch-when="edit">
        <%= render 'edit' %>
      </div>

      <div ng-switch-when="index">
        <%= render 'index' %>
      </div> <!-- This is end of index. -->

      <div ng-switch-when="new">
        <%= render 'new' %>
      </div>

      <div ng-switch-when="show" ng-init="getPersonData(parshaOfInterest.person_id)">
        <%= render 'show' %>
      </div>

    </div>

    
  </div>
</div>