body{
	background-image: url("squared_metal.png");
}

.Beraishis{
	float: right;
	text-align: right;
	margin-right: 40px;
}

.Shemos{
	float: right;
	text-align:right;
	margin-right: 175px;
}

.Vayikrah{
	float: right;
	text-align:right;
	margin-right: 175px;
}

.Bamidbar{
	float: right;
	text-align:right;
	margin-right: 175px;
}

.Devorim{
	float: right;
	text-align:right;
	margin-right: 175px;
}

h1 {
	text-align:center;
}

.top {
	float:right;
	text-align:right;
	margin-right: 40px;
}

.top2 {
	float:left;
	margin-left: 40px;
}